# Rescript
.DS_Store
/node_modules/
/lib/
.bsb.lock
.merlin
*.mjs
*.gen.ts

## TypeScript cache
*.tsbuildinfo

# Yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# Custom
/coverage